.timer {
    background-color: #d3d6ec;
    color: #928ddf;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 33px;
    font-family: Montserrat, sans-serif;
    transition: box-shadow .3s;
    border-radius: 30px;
    position: relative;
    bottom: 10px;
    font-weight: 200;


}
.timer:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2); 
}
